
<template name="burgerMenu">
    <!-- <h1 class="title"> 10€ À EMPORTER avec fritte maison et boisson  </h1> -->
    <ol class="board">
      {{#each burgers}}
        {{> burger}}
      {{/each}}
    </ol>
    <!-- {{#if selectedName}}
      <div class="details">
        <div class="name">{{selectedName}}</div>
        <button class="inc">ajouter</button>
      </div>
    {{else}}
      <div class="message">Click a burger</div>
    {{/if}} -->
    <div class="message">À EMPORTER</div>

</template>

<template name="burger">
    <li class="burger {{selected}}">
      <span class="name"><h2>{{name}} <span class="price">{{price}}€</span> <span class="extraBacon">extra bacon 1€</span></h2></span>
      <span class="score"><p>{{ingredients}}</p></span>
      <!-- <span class="arrow"><p>></p></span> -->
    </li>
</template>