<template name="cookings">
    {{> selection}}
    <h1 class="title question"> Quelle cuisson préférez-vous? </h1>
    <div class="answer">
      <div class = "cookingSquare">
        {{#each cookings}}
          {{> cooking}}
        {{/each}}
      </div>
    </div>
</template>
<template name="cooking">

    <div class="square">
      <div class="content">
          <div class="table">
              <div class="table-cell">
                {{name}}
              </div>
          </div>
      </div>
    </div>
</template>