<template name="drinks">
    {{> selection}}
    <h1 class="title">Quelle boisson pour votre menu ?</h1>
    <ol class="board">
      {{#each drinks}}
        {{> drink}}
      {{/each}}
    </ol>
    <!-- {{#if selectedName}}
      <div class="details">
        <div class="name">{{selectedName}}</div>
        <button class="inc">ajouter</button>
      </div>
    {{else}}
      <div class="message">Click a drink</div>
    {{/if}} -->
</template>

<template name="drink">
  <li class="burger {{selected}}">
    <span class="name"><h2>{{name}}</h2></span>
    <!-- <span class="score"><p>{{ingredients}}</p></span> -->
  </li>
</template>
